<!DOCTYPE html>
<html lang="en">
{% include "./partials/head.njk" %}
<body>
  {% include "./partials/header.njk" %}
  <main class="mainContent">
    <h1>Blog on Node.js</h1>
    <p>Build with Node.js, Express, Nunjucks, MongoDB</p>
  </main>
</body>
</html>